<div class="example-loading-shade" *ngIf="isLoadingResults">
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>


<mat-card>
<mat-card-title>Sistemos vartotojai</mat-card-title>
    <form fxLayout="row"  fxLayout.xs="column" fxLayoutGap="1.5em" [formGroup]="updateForm">
            <mat-form-field fxFlex="1 1 auto">
                <input #search matInput (keyup)="applyFilter($event.target.value)" placeholder="Paieška" formControlName="search">
            </mat-form-field>
      </form>
     
  <mat-table fxLayout="column" #table [dataSource]="dataSource">

    <ng-container matColumnDef="id" class="mat-column-id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Vardas</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef> Pavardė </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Elektroninis paštas </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"  (click)="selectRow(row)"></mat-row>
  </mat-table>
  <mat-paginator [length]="resultsLength" hidePageSize="true" [pageSize]="pageSize" (page)="onPaginateChange($event)">
  </mat-paginator>
</mat-card>