<div fxLayout='row' fxLayoutGap="1%"  fxFlexAlign="center">
<mat-card fxFlex="50%">
    <mat-card-header>
      <mat-card-title>Mano problemos</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-table #table [dataSource]="dataSource">
    
            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
              <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
              <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        
          <mat-paginator #paginator
                         [pageSize]="5"                      
                         [showFirstLastButtons]="true">
          </mat-paginator>
    </mat-card-content>
  </mat-card>
  <mat-card fxFlex="50%">
      <mat-card-header>
        <mat-card-title>Nepriskirtos problemos</mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <mat-table #table [dataSource]="dataSource">
      
              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
              </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
              </ng-container>
          
              <!-- Weight Column -->
              <ng-container matColumnDef="weight">
                <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
              </ng-container>
          
              <!-- Symbol Column -->
              <ng-container matColumnDef="symbol">
                <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
              </ng-container>
          
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          
            <mat-paginator #paginator
                           [pageSize]="5"
                           [showFirstLastButtons]="true">
            </mat-paginator>
      </mat-card-content>
    </mat-card>
</div>
<div style="min-height: 5vh;">

</div>
<div fxLayout='row' fxLayoutGap="1%"  fxFlexAlign="center">
    <mat-card fxFlex="50%">
        <mat-card-header>
          <mat-card-title>Mano problemos</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-table #table [dataSource]="dataSource">
        
                <!-- Position Column -->
                <ng-container matColumnDef="position">
                  <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
                </ng-container>
            
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                </ng-container>
            
                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                  <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
                </ng-container>
            
                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                  <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
                </ng-container>
            
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
            
              <mat-paginator #paginator
                             [pageSize]="5"
                             [showFirstLastButtons]="true">
              </mat-paginator>
        </mat-card-content>
      </mat-card>
      <mat-card fxFlex="50%">
          <mat-card-header>
            <mat-card-title>Nepriskirtos problemos</mat-card-title>
          </mat-card-header>
          <mat-card-content>
              <mat-table #table [dataSource]="dataSource">
          
                  <!-- Position Column -->
                  <ng-container matColumnDef="position">
                    <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
                  </ng-container>
              
                  <!-- Name Column -->
                  <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                  </ng-container>
              
                  <!-- Weight Column -->
                  <ng-container matColumnDef="weight">
                    <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
                  </ng-container>
              
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="symbol">
                    <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
                  </ng-container>
              
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
              
                <mat-paginator #paginator
                               [pageSize]="5"
                               [showFirstLastButtons]="true">
                </mat-paginator>
          </mat-card-content>
        </mat-card>
    </div>