<div fxLayout="row wrap">
  <div class="padding" fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card>
      <h3>Nepriskirtos problemos: 20</h3>
    </mat-card>
  </div>
  <div class="padding" fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card>
      <h3>Mano uždarytos problems: 20</h3>
    </mat-card>
  </div>
  <div class="padding" fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card>
      <h3>Priskirtos problems: 20</h3>
    </mat-card>
  </div>
  <div class="padding" fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card>
      <h3>Savaitės valandos: 20</h3>
    </mat-card>
  </div>
</div>

<div fxLayout="row wrap">
  <div fxFlex.gt-md="50%" fxFlex="100" class="padding">
    <mat-card>
      <mat-card-subtitle>
        Priskirtos problemos
      </mat-card-subtitle>
      <mat-card-content>
          <app-problem-list-compact>

          </app-problem-list-compact>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex.gt-md="50%" fxFlex="100" class="padding">
    <mat-card>
      <mat-card-subtitle fxLayout="row" fxLayoutAlign="start center">
        Nepriskirtos problemos
      </mat-card-subtitle>
      <mat-card-content>
          <app-problem-list-compact>

            </app-problem-list-compact>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div fxLayout="row wrap">
  <div fxFlex.gt-md="50%" fxFlex="100" class="padding">
    <mat-card>
      <mat-card-subtitle fxLayout="row" fxLayoutAlign="start center">
        Problemų skaičius
      </mat-card-subtitle>
      <mat-card-content>        
          <canvas height="200" baseChart class="chart" [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
            [colors]="chartColors" [legend]="barChartLegend" [chartType]="barChartType"></canvas>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.gt-md="50%" fxFlex="100" fxFlex="100" class="padding">
    <mat-card>
      <mat-card-subtitle fxLayout="row" fxLayoutAlign="start center">
        Registruotas laikas
      </mat-card-subtitle>
      <mat-card-content>
        <mat-table #table [dataSource]="dataSource">

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
            <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator #paginator [pageSize]="5" [showFirstLastButtons]="true">
        </mat-paginator>
      </mat-card-content>
    </mat-card>
  </div>
</div>