<form fxFlexFill fxLayout="column" fxLayoutAlign="center center" [formGroup]="loginForm" class="form-element">
    <mat-card>
        <mat-card-header>
                    <mat-card-title><h3>Prisijungti prie vartotojo</h3></mat-card-title>     
        </mat-card-header>
        <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
        <mat-card-content fxFlexFill fxLayout="column" fxLayoutAlign="center center">
            <mat-form-field class="form-element">
                <input matInput placeholder="Vartotojo vardas" formControlName="username" />
            </mat-form-field>
            <mat-form-field class="form-element">
                <input matInput placeholder="Slaptažodis" formControlName="password" type="password" />
            </mat-form-field>
            <button mat-raised-button type="submit" (click)="login()">Prisijungti</button>
        </mat-card-content>
    </mat-card>
</form>