<div class="example-container">
    <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="example-app-name">Interneto problemos</h1>
        <div class="spacer"></div>
        <button mat-button (click)="onPlusClick()">
            <i class="material-icons">add</i>
        </button>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" >
        <mat-sidenav #snav mode='side' opened='true' class="sidebar-panel" *ngIf="user">
            <mat-nav-list class="navigation">
                <mat-list-item>
                    <a class="relative" [routerLink]="['/', 'login']">
                        <mat-icon>lock_open</mat-icon>
                        <span>Login</span>
                    </a>
                </mat-list-item>
                <mat-list-item>
                    <a class="relative" [routerLink]="['/','dashboard']">
                        <mat-icon>assessment</mat-icon>
                        <span>Dashboard</span>
                    </a>
                </mat-list-item>
                <mat-list-item (click)="menuExpanded = !menuExpanded">
                    <a class="relative">
                        <mat-icon>inbox</mat-icon>
                        <span>Problemos</span>
                        <span flex></span>
                        <mat-icon class="menu-caret">arrow_drop_down</mat-icon>
                    </a>                 
                </mat-list-item>
                <mat-list-item routerLinkActive="open" *ngIf="menuExpanded">
                    <a [routerLink]="['/', 'createProblem']" class="relative">Sukurti problemą</a>
                </mat-list-item>
                <mat-list-item routerLinkActive="open" *ngIf="menuExpanded">
                    <a [routerLink]="['/', 'problemList']" class="relative">Mano problemos</a>
                </mat-list-item>
                <mat-list-item routerLinkActive="open" *ngIf="menuExpanded">
                    <a [routerLink]="['/', 'problemList']" class="relative">Nepriskirtos problemos</a>
                </mat-list-item>
                <mat-list-item routerLinkActive="open" *ngIf="menuExpanded">
                    <a [routerLink]="['/', 'problemList']" class="relative">Visos problemos</a>
                </mat-list-item>
                <mat-list-item>
                    <a class="relative" [routerLink]="['/','userTasks']">
                        <mat-icon>calendar_today</mat-icon>
                        <span>Atlikti darbai</span>
                    </a>
                </mat-list-item>
                <mat-list-item>
                    <a class="relative" [routerLink]="['/','usersList']">
                        <mat-icon>access_time</mat-icon>
                        <span>Laiko ataskaitos</span>
                    </a>
                </mat-list-item>
                <mat-list-item>
                    <a class="relative" [routerLink]="['/','internetUsersList']">
                        <mat-icon>perm_identity</mat-icon>
                        <span>Interneto vartotojai</span>
                    </a>
                </mat-list-item>
                <mat-list-item>
                    <a class="relative" [routerLink]="['/','usersList']">
                        <mat-icon>perm_identity</mat-icon>
                        <span>Vartotojai</span>
                    </a>
                </mat-list-item>
                <mat-list-item>
                    <a class="relative" [routerLink]="['/', 'login']">
                        <mat-icon>lock_open</mat-icon>
                        <span>Atsijungti</span>
                    </a>
                </mat-list-item>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>