<div class="flex-row">
  <mat-toolbar>Problemos pavadinimas</mat-toolbar>
</div>

<div class="flex-row">
  <button mat-button routerLink="/login" routerLinkActive="active">
    <i class="material-icons">lock_open</i>Redaguoti</button>
  <button mat-button routerLink="/login" routerLinkActive="active">
    <i class="material-icons">lock_open</i>Komentuoti</button>
  <button mat-button routerLink="/login" routerLinkActive="active">
    <i class="material-icons">lock_open</i>Uždaryti</button>
</div>

<div class="row">
  <div class="main">
    <mat-tab-group>
      <mat-tab label="Problemos informacija">
        <h3>Aprašymas</h3>
        <mat-form-field class="example-full-width editable">
          <textarea matInput matTextareaAutosize matAutosizeMinRows="4" value="orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum"
            matAutosizeMaxRows="10"></textarea>
          <span matSuffix>
            <i class="material-icons">edit</i>
          </span>
        </mat-form-field>
        <h3>Registruotas laikas</h3>
        <mat-table #table [dataSource]="dataSource">
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
            <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>


        <h3>Komentarai </h3>
        <div class="comments-list">
          <div class="media">
            <div class="media-body">
              <h4 class="media-heading user_name">Baltej Singh</h4>
              Wow! this is really great.
            </div>
          </div>
          <div class="media">
            <div>

              <h4 class="media-heading user_name">Baltej Singh</h4>
              Wow! this is really great.
            </div>
          </div>
          </div>

          <mat-form-field class="example-full-width">
              <textarea matInput matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="10"></textarea>
            </mat-form-field>
          <button class="align-left" mat-button>Komentuoti</button>
      </mat-tab>

      <mat-tab label="Kliento informacija">
          Kliento informacija
        
      </mat-tab>
      <mat-tab label="Susiję problemos">
        <mat-table #table [dataSource]="dataSource">
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
            <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </mat-tab>
    </mat-tab-group>
    </div>


    <div class="side">
      <div>
        <label>Priskirtas vartotojas: </label>
        <mat-form-field class="editable" [hideRequiredMarker]="true" [floatLabel]="never">
          <input matInput value="Tomas" disabled>
          <span matSuffix>
            <i class="material-icons">edit</i>
          </span>
        </mat-form-field>
      </div>

      <div>
        <label>Priskirtas klientas: </label>
        <mat-form-field class="editable" [hideRequiredMarker]="true" [floatLabel]="never">
          <input class="float-right" matInput value="Tomas" disabled>
          <span matSuffix>
            <i class="material-icons">edit</i>
          </span>
        </mat-form-field>
      </div>

      <div style="min-height: 1vh;"></div>
      <div>
        <label>
          <b>Užduotis sukurta: </b>
        </label>
        <span class="float-right" matInput>2018-04-05</span>
      </div>

      <div style="min-height: 1vh;"></div>

      <div>
        <label>
          <b>Praleista laiko: </b>
        </label>
        <span class="float-right" matInput>32h</span>
      </div>

    </div>