<!--<div fxLayout="row" class="line" fxFlexOffset="5vh">
    <mat-toolbar fxFlex="1 0 auto">Problemos pavadinimas</mat-toolbar>
</div>
<div fxLayout="row" fxLayout.xs="column" fxFlexOffset="5vh" fxLayoutGap="1vh">
    <button  mat-button routerLink="/login" routerLinkActive="active"><i class="material-icons">lock_open</i>Redaguoti</button> 
    <button  mat-button routerLink="/login" routerLinkActive="active"><i class="material-icons">lock_open</i>Komentuoti</button>
    <button  mat-button routerLink="/login" routerLinkActive="active"><i class="material-icons">lock_open</i>Uždaryti</button>  
</div>-->
  <!-- Footer -->
  <div class="flex-row">
      <mat-toolbar>Problemos pavadinimas</mat-toolbar>
  </div>

  <div class="flex-row">
    <button  mat-button routerLink="/login" routerLinkActive="active"><i class="material-icons">lock_open</i>Redaguoti</button> 
    <button  mat-button routerLink="/login" routerLinkActive="active"><i class="material-icons">lock_open</i>Komentuoti</button>
    <button  mat-button routerLink="/login" routerLinkActive="active"><i class="material-icons">lock_open</i>Uždaryti</button>  
  </div>

<div class="row">  
    <div class="main">
        <h2>TITLE HEADING</h2>
        <h5>Title description, Dec 7, 2017</h5>
        <div class="fakeimg" style="height:200px;">Image</div>
        <p>Some text..</p>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        <br>
        <h2>TITLE HEADING</h2>
        <h5>Title description, Sep 2, 2017</h5>
        <div class="fakeimg" style="height:200px;">Image</div>
        <p>Some text..</p>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>
    <div class="side">
      <div>
          <label>Priskirtas vartotojas: </label>
          <mat-form-field
          [hideRequiredMarker]="true"
          [floatLabel]="never">
        <input matInput value="Tomas" disabled>
        <span matSuffix><i class="material-icons">edit</i></span>
      </mat-form-field>
      </div>  
     
    </div>
  </div>
  
